h3, h2 {
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

ol, ul {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
	list-style-type: none;
}

.recent-posts {
	display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
	list-style-type: none;
	padding: 0;
}

.recent-posts li a {
	font-size: 11pt;
}

a {
    line-height: 18px;
    font-weight: 400;
    font-style: normal;
    font-size: 12pt;
    color: #000000;
    border-bottom: 2px solid #d2d2d2;
	text-decoration: none;
}

a:hover {
	text-decoration-color: yellow;
}
li {
    float: none;
    font-size: 8pt;
    color: #777777;
	margin-bottom: 10px;
}

.date1 {
    float: none;
    font-size: 8pt;
    color: #777777;
    text-transform: lowercase;
}

aside nav ul li a {
    line-height: 18px;
    font-weight: 400;
    font-style: bold;
    font-size: 12pt;
    color: #000000;
	border-bottom: 0px;
}

.markdown a:visited {
	text-decoration: none;
	color: #000000;
}

.book-footer {
    p {
        font-size: 12px;
        color: #514e4e;
    }

    a:visited {
        text-decoration: none;
        color: #514e4e;
    }

    max-width: calc(var(--main-width) + var(--gap) * 2);
    margin: auto;
    padding: calc((var(--footer-height) - var(--gap))/2)var(--gap);
    text-align: center;
    line-height: 24px;
}